      <ion-header collapse="fade" translucent="true">
        <ion-toolbar>
    {% if page.layout == "default" %}
          <ion-chip onclick="myBlog()" slot="start">
            <ion-avatar>
            <img src="{{ site.avatar }}" />
            </ion-avatar>
            <ion-label>{{ site.title }}</ion-label>
          </ion-chip>
    {% endif %}
    {% if page.layout == "webshop" %}
          <ion-chip onclick="myBlog()" slot="start">
            <ion-avatar>
            <img src="{{ site.avatar }}" />
            </ion-avatar>
            <ion-label>{{ site.title }}</ion-label>
          </ion-chip>
    <ion-buttons slot="end">
      <ion-button id="trigger-cart">
            <ion-badge color="danger" class="simpleCart_quantity" style="position:absolute;top:-6px;right:-6px;border-radius:50px;font-size: 11px;padding: 2px 4px;"></ion-badge>
<ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "shop" %}
    <ion-buttons id="cart-menu" slot="end">
      <ion-button id="trigger-cart">
            <ion-badge color="danger" class="simpleCart_quantity" style="position:absolute;top:-6px;right:-6px;border-radius:50px;font-size: 11px;padding: 2px 4px;"></ion-badge>
<ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "default" %}
    <ion-buttons slot="end">
      <ion-button onclick="myProduct()">
            <ion-badge color="danger" class="simpleCart_quantity" style="position:absolute;top:-6px;right:-6px;border-radius:50px;font-size: 11px;padding: 2px 4px;"></ion-badge>
         <ion-icon slot="icon-only" name="storefront" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "post" %}
    <ion-buttons slot="start">
      <ion-button onclick="history.back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "shop" %}
    <ion-buttons slot="start">
      <ion-button onclick="history.back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "page" %}
    <ion-buttons slot="start">
      <ion-button onclick="history.back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "cart-page" %}
    <ion-buttons slot="start">
      <ion-button onclick="myProduct()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "payment-page" %}
    <ion-buttons slot="start">
      <ion-button onclick="myProduct()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "checkout-page" %}
    <ion-buttons slot="start">
      <ion-button onclick="myProduct()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
          <ion-chip slot="end" onclick="setDarkMode(true)" id="darkBtn">
            <div>
            <ion-label style="display: none;">DarkMode</ion-label>
            <ion-icon name="moon" color="dark"></ion-icon>
            </div>
          </ion-chip>
          <ion-chip slot="end" onclick="setDarkMode(false)" id="lightBtn" style="display: none;">
            <div>
            <ion-label style="display: none;">LightMode</ion-label>
            <ion-icon name="partly-sunny"></ion-icon>
            </div>
          </ion-chip>
        </ion-toolbar>
     </ion-header>
