      <ion-header collapse="fade" translucent="true">
        <ion-toolbar>
    {% if page.layout == "default" %}
          <ion-chip onclick="myBlog()" slot="start">
            <ion-avatar>
            <img src="{{ site.avatar }}" />
            </ion-avatar>
            <ion-label>{{ site.title }}</ion-label>
          </ion-chip>
    {% endif %}
    {% if page.layout == "webshop" %}
          <ion-chip onclick="myBlog()" slot="start">
            <ion-avatar>
            <img src="{{ site.avatar }}" />
            </ion-avatar>
            <ion-label>{{ site.title }}</ion-label>
          </ion-chip>
    <ion-buttons slot="end">
      <ion-button id="trigger-cart">
            <ion-badge color="danger" class="simpleCart_quantity" style="position:absolute;top:-6px;right:-6px;border-radius:50px;font-size: 11px;padding: 2px 4px;"></ion-badge>
<ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "shop" %}
    <ion-buttons id="cart-menu" slot="end">
      <ion-button id="trigger-cart">
            <ion-badge color="danger" class="simpleCart_quantity" style="position:absolute;top:-6px;right:-6px;border-radius:50px;font-size: 11px;padding: 2px 4px;"></ion-badge>
<ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "default" %}
    <ion-buttons slot="end">
      <ion-button onclick="myProduct()">
            <ion-badge color="danger" class="simpleCart_quantity" style="position:absolute;top:-6px;right:-6px;border-radius:50px;font-size: 11px;padding: 2px 4px;"></ion-badge>
         <ion-icon slot="icon-only" name="storefront" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "post" %}
    <ion-buttons slot="start">
      <ion-button onclick="history.back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "shop" %}
    <ion-buttons slot="start">
      <ion-button onclick="history.back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-chip slot="start">
      <ion-icon name="person-circle" color="dark"></ion-icon>
      <ion-label id="user-display-name"></ion-label>
    </ion-chip>
    {% endif %}
    {% if page.layout == "page" %}
    <ion-buttons slot="start">
      <ion-button onclick="history.back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "cart-page" %}
    <ion-buttons slot="start">
      <ion-button onclick="myProduct()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "payment-page" %}
    <ion-buttons slot="start">
      <ion-button onclick="myProduct()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    {% endif %}
    {% if page.layout == "checkout-page" %}
    <ion-buttons slot="start">
      <ion-button onclick="myProduct()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-chip slot="end">
      <ion-icon name="person-circle" color="dark"></ion-icon>
      <ion-label id="user-display-name"></ion-label>
    </ion-chip>
    {% endif %}
    <ion-buttons slot="end">
      <ion-button id="sign-out-button"><ion-icon slot="icon-only" name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
          <ion-chip slot="end" onclick="setDarkMode(true)" id="darkBtn">
            <div>
            <ion-label style="display: none;">DarkMode</ion-label>
            <ion-icon name="moon" color="dark"></ion-icon>
            </div>
          </ion-chip>
          <ion-chip slot="end" onclick="setDarkMode(false)" id="lightBtn" style="display: none;">
            <div>
            <ion-label style="display: none;">LightMode</ion-label>
            <ion-icon name="partly-sunny"></ion-icon>
            </div>
          </ion-chip>
        </ion-toolbar>
     </ion-header>
      
     <script type="module">
       const firebaseConfig = {
           apiKey: "{{ site.env.API_KEY }}",
           authDomain: "{{ site.env.AUTH_DOMAIN }}",
           databaseURL: "{{ site.env.DATABASE_URL }}",
           projectId: "{{ site.env.PROJECT_ID }}",
           storageBucket: "{{ site.env.STORAGE_BUCKET }}",
           messagingSenderId: "{{ site.env.SENDER_ID }}",
           appId: "{{ site.env.APP_ID }}",
           measurementId: "{{ site.env.MEASUREMENT_ID }}"
       };
       firebase.initializeApp(firebaseConfig);
       
       const auth = firebase.auth();
       
       const userSignedOutDiv = document.getElementById('user-signed-out');
       const userSignedInDiv = document.getElementById('user-signed-in');
       const userDisplayName = document.getElementById('user-display-name');
       const userEmail = document.getElementById('user-email');
       const signOutButton = document.getElementById('sign-out-button');
     
       function toggleUI() {
         if (auth.currentUser) {
           userDisplayName.textContent = auth.currentUser.displayName;
           userEmail.textContent = auth.currentUser.email;
         } else {
           location.href = "{{site.baseurl}}/";
         }
       }
       signOutButton.addEventListener('click', () => {
         auth.signOut();
       });
       
       auth.onAuthStateChanged(user => {
         toggleUI();
       });
     </script>
