{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><ion-buttons><ion-icon name="logo-dribbble"></ion-icon></ion-buttons></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><ion-icon name="mail"></ion-icon></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><ion-icon name="logo-facebook"></ion-icon></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><ion-icon name="logo-flickr"></ion-icon></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><ion-buttons><ion-button><ion-icon name="logo-github"></ion-icon></ion-button></ion-buttons></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><ion-icon name="logo-instagram"></ion-icon></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><ion-icon name="logo-linkedin"></ion-icon></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><ion-icon name="logo-instagram"></ion-icon></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><ion-icon name="logo-rss"></ion-icon></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><ion-icon name="logo-twitter"></ion-icon></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><ion-icon name="logo-stackoverflow"></ion-icon></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><ion-icon name="logo-stackoverflow"></ion-icon></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><ion-icon name="logo-google"></ion-icon></a>{% endif %}
