<style>
.widgetCopyright .widgetFooter {
    padding: 40px 0;
    font-size: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: center;
}
.widgetCopyright .widgetFooter .widget .payShipIcon li {
    display: inline-block;
    height: 36px;
    width: 72px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin: 3px 2px;
    background-color: #fff;
    border-radius: 2px;
    background-position: center center;
    background-size: 70% auto;
    background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 767.98px){
.widgetCopyright .widgetFooter {
    padding: 40px 20px;
    font-size: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;}
}
.widget-content {
    padding-top: 15px;
}
.fancybox__content{padding:0px;}
</style>
{% if page.layout == "webshop" %}
<ion-toolbar class="widgetCopyright" id="sticky-stop">
<div class="wrapper">
<div class="grid1 widgetFooter section" id="tw_wFooter" name="Widget Footer"><div class="widget HTML" data-version="1" id="HTML301">
<h3 itemprop="name">Alamat Kami</h3>
<p/>
<div class="widget-content">
Jl. Gn. Lingga, Cibeuti, Rt.003/012 <br>
Kawalu - Tasikmalaya 46182.
<br><br>
Lihat di 
<a
  href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.7457845051977!2d108.18843941477569!3d-7.382360894673185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9bdc4ceb7b0c03c1!2sPlus62%20Bordir!5e0!3m2!1sid!2sid!4v1618496242157!5m2!1sid!2sid"
  data-fancybox
  data-type="iframe"
  data-preload="true"
  data-width="640"
  data-height="480"
>
  Google Maps
</a>
</div>
<div class="clear"></div>
</div><div class="widget HTML" data-version="1" id="HTML302">
<h3 itemprop="name">Pembayaran &amp; Pengiriman</h3>
<p/>
<div class="widget-content">
<ul class="payShipIcon">

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/bca.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/bni.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/bri.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/mandiri.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/xendit.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/gosend.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/grabexpress.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/jne.png&quot;);"></li>

<li class="" style="background-image:url(&quot;{{site.baseurl}}/assets/images/logo/o/jnt.png&quot;);"></li>

</ul>
</div>
<div class="clear"></div>
</div><div class="widget HTML" data-version="1" id="HTML303">
<h3 itemprop="name">Hubungi Kami</h3>
<p/>
<div class="widget-content">
<div class="btnGroup">
<ion-chip color="success"><ion-icon name="logo-whatsapp"></ion-icon><ion-label> Whatsapp</ion-label></ion-chip>
<ion-chip color="danger"><ion-icon name="mail-outline"></ion-icon><ion-label> E-mail</ion-label></ion-chip>
</div>
<br>
<small style="font-size:10px;color:#dc3545;">* <b>Senin - Sabtu</b> ( 07:00 s/d 17:00 )</small>
</div>
<div class="clear"></div>
</div></div>
</div>
</ion-toolbar>
{% endif %}
