---
---

@import "./reset";
@import "./variables";

#webshop {
    max-width: 1080px;
    margin: auto;
}

.grid {
    max-width: 250px;
    width: 100%;

    @include mobile {
    width: auto;
    margin: 5px;}
}

.etalase {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include mobile {
    width: auto;
    margin: 0;}
}

.post-page {width:100%;}

.post-shop {
    width: auto;

    @include mobile {
    max-width: 50%;}
}

.shop-header {
    padding: 0;
    text-align: center;
}

.shop-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    padding: 10px 0px;
}

.price {
    font-size: 16px;
    text-shadow: 2px 2px 3px #3880ff8f;
    margin-bottom: 15px;
}

.entry {
    padding: 6px;
}

.post-product {
    display:flex;
    flex-wrap: nowrap;
    margin-left: -26px;

    @include mobile {
    flex-wrap: wrap;
    width: -webkit-fill-available;
    margin-left: 0px;}
}

.style-picker {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-gap: 10px;
    align-items: center;
    margin: 0 10%;
    align-content: space-between;

    @include mobile {
    margin: 0;}
}

.product-page {
    display: flex;
    width: 790px;
    flex-wrap: nowrap;

    @include mobile {
    width: auto;
    flex-wrap: wrap;}
}

.detail-product {
    width: 480px;
    padding: 10px;
}

.product-img {
    max-width: 680px;

    @include mobile {
    max-width: auto;}
}

.item-rate {
    padding: 12px 0;
}

.page-price {
    padding: 10px 0 0 0px;
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
}

select.form-control {
    display: block;
    background: transparent;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 7px 0;
    font-size: 18px;
    border: 1px solid;
    border-radius: 50px;
}

.app-description-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 41%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;

    @include mobile {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 390px;
    padding: 10px;
    overflow-y: auto;}
}

.btn-atc {
    position: absolute;
    bottom: 10px;
    right: 10px;

    @include mobile {
    position: unset!important;
    float: right;}
}
.review {width:300px;

    @include mobile {
    width: 100%;}
}

.review-checkout {
    width:50%;
    max-height: 390px;

    @include mobile {
    width: 100%;}
}

.mobile-show {display:none;

    @include mobile {display:block;}
}

.mobile-hide {display:block;

    @include mobile {display:none;}
}

.cekout {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    @include mobile {
    flex-wrap: wrap;}
}

.payment-point {
    width: fit-content;
    display: flex;
    margin: auto;
    margin-top: 45px;
    flex-wrap: nowrap;

    @include mobile {
    width: min-content;
    flex-wrap: wrap;}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cart-page {
    margin: auto;
}

.cart-card {
    margin-top:6%;

    @include mobile {
    margin-top:25%;}
}

.keranjang-box {

    @include mobile {
    width: 100% !important;}
}

@import "./highlights";
