---
layout: webshop
---

<div class="cekout">
<article class="post-page">
  <div class="entry">
    {{ content }}
  </div>
</article>
<ion-card class="review-checkout">
  <ion-item>
    <ion-icon name="cart-outline" slot="start">
            </ion-icon>
    <ion-label>Keranjang Belanja Kamu</ion-label>
    <ion-note slot="end" color="primary"><ion-badge color="danger" id="cart-menu" class="simpleCart_quantity"></ion-badge></ion-note>
  </ion-item>
<ion-card-content>
    {% include keranjang.html %}
</ion-card-content>
</ion-card>
</div>
