---
layout: webshop
---

<style type="text/css">.just,.masthead,.wrapper-footer{display:none!important;}.container{padding:0px;}.layout-main{margin-top:0px;}*:focus{outline:none;}</style>

<article class="post-product simpleCart_shelfItem">
<span class="hiden item_link">{{site.url}}{{page.url}}</span>
<ion-card class="product-page">
<div class="img-product">
          <div class="product-img">
            {% for style in page.styles %}
          		<div id="product-{{ forloop.index }}" class="style bounceIn" {% unless forloop.first %} style="display:none;" {% endunless %}>
        				<ion-router-link data-fancybox="gallery" href="{{ style.image_path }}">
            <img class="img-thumb lazyimg" src="{{site.baseurl}}/assets/images/placeholder.png" data-src="{{ style.image_path }}" itemprop="image"></ion-router-link>
          		</div>
          	{% endfor %}
          </div>
<img class="item_thumb hiden" src="{{page.image}}" alt="{{page.title}}" style="display:none!important"/>
</div>
<div class="detail-product">
  <ion-item class="ion-no-padding" style="margin-bottom: 6px;">
  <div itemprop="name" class="item_name"><ion-label>{{ page.title }}</ion-label>
<a class="fav_btn" onclick="favOptions()" >
    <span id="like-{{ page.noID }}" class="like-btn">
    <ion-icon name="heart" slot="end"></ion-icon>
    </span>
</a></div>
  </ion-item>
  <span class="item-rate" itemprop="aggregateRating"
    itemscope itemtype="https://schema.org/AggregateRating">
    <i class="fa fa-{{page.stars}}" style="color:#ffb236;"></i> <span itemprop="ratingValue">{{page.rating}}/5.0</span>
   <span itemprop="reviewCount">dari {{page.rC}} penilaian</span></span>
  <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
<div class="hiden" style="display:none;grid-gap:5px;">
<div class="page-diskon">Rp. {{page.discount}}</div>
<ion-badge class="badge"><ion-label>{{page.diskon}}</ion-label></ion-badge>
</div></span>

<div class="page-price item_price" itemprop="priceCurrency" content="IDR">Rp. {{page.price}}</div>

<link itemprop="availability" href="https://schema.org/InStock" />
            
<div class="ion-padding">
<ion-text {% if page.stok != 'Tersedia' %} color="danger"{% else %}color="success"{% endif %}>{{page.stok}}</ion-text>
</div>
        	<div class="style-picker">
            {% for style in page.styles %}
              <div id="product-{{ forloop.index }}" {% if forloop.first %} class="item_color" {% endif %} style="text-align:center;width:75px;border-radius:25px;padding:8px;background-color:{{ style.color }};cursor:pointer;box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
<span style="color:#fff">{{ style.name }}</span></div>
            {% endfor %}
        	</div>

<ion-accordion-group class="mobile-show" style="margin-top: 22px;">
  <ion-accordion>
    <ion-item class="ion-no-padding" slot="header">
      <ion-label>Deskripsi Produk</ion-label>
    </ion-item>

    <ion-list slot="content">
{{page.description}}
{{ content }}
    </ion-list>
  </ion-accordion>
</ion-accordion-group>
<div class="entry-description mobile-hide" itemprop="description">{{page.description}}
    <p>{{ content }}</p>
</div>
<div class="btn-grup_order">
<ion-buttons slot="start">
<ion-button color="success" id="trigger-wa">Contact</ion-button>
</ion-buttons>

<ion-buttons slot="end">
<ion-button color="{% if page.stok != 'Tersedia' %}danger{% else %}primary{% endif %}" class="app-description-content description-content" {% if page.stok != 'Tersedia' %}disabled{% else %}{% endif %}>{% if page.stok != 'Tersedia' %}Stok Habis{% else %}Beli Sekarang{% endif %}</ion-button>
</ion-buttons>
</div>
  <ion-card class="app-description-text" style="margin:0;display:none;">
<ion-card-header color="light" style="padding:0;">
    <ion-toolbar>
        <ion-buttons slot="end" class="app-description-content">
          <ion-button color="danger"><ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-card-header>
<ion-card-content style="padding:10px;">

          <select class="item form-control item_model" style="display:{{page.display}};" {{page.outstock}}>
        <label>Model Tali</label>
            {% for tali in page.tali %}
              <option value="{{ tali }}"> {{ tali }} </option>
            {% endfor %}
          </select>

<div id="input_div">
    <div class="input-groupQ">
        <div class="input-group-prepend" style="cursor:pointer;padding: 0 10px;">
              <span class="input-group-text" id="minus" onclick="minus()">
                <i class="fa fa-minus-circle"></i></span>
        </div>
          <input type="number" id="counter" class="form-control item_Quantity" value="1" min="1" max="100" style="width: 100%;text-align:center;background:transparent;font-weight:700;border:none;" disabled/>
        <div class="input-group-prepend" style="cursor: pointer;padding: 0 10px;">
              <span class="input-group-right" id="plus" onclick="plus()">
                  <i class="fa fa-plus-circle"></i></span>
        </div>
    </div>
</div>

<ion-buttons class="btn-atc app-description-content">
        <ion-button color="primary" id="cartButton" class="item_add" slot="end" fill="outline" shape="round" href="javascript:;">Add To Cart</ion-button>
</ion-buttons>
</ion-card-content>
  </ion-card>
</div>
</ion-card>
</article>
<ion-modal trigger="trigger-wa" id="sheetOrder">
<ion-modal-header collapse="fade" translucent="true">
        <ion-toolbar color="success">
<ion-title>WhatsApp Kontak</ion-title>
    <ion-buttons slot="end">
      <ion-button onClick="dismissWa()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
        </ion-toolbar>
     </ion-modal-header>
<ion-content padding="ion-padding">
    <ion-list>
      <ion-list-header>
      <ion-label>
          Ada pertanyaan? lengkapi data berikut!
      </ion-label>
    </ion-list-header>
<form style="width:100%;border-radius: 5px;" validate-form id='whatsapp'>
<input class='pertanyaan' id='nomorAdmin' type='hidden'/>
        <ion-item>
          <ion-label position="floating">Nama Lengkap</ion-label>
            <ion-input class='nama wajib' type="text" highlight-color="success" placeholder="Nama Lengkap"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pertanyaan</ion-label>
            <ion-textarea class='tanya wajib' type="text" placeholder="Pertanyaan"></ion-textarea>
        </ion-item>
</ion-list>
        <div class="mb-0 text-right">
            <a type="button" class="sendWAclik kirim" style="margin-right:10px;color:#07bc4c"><ion-icon slot="icon-only" class="wa" name="paper-plane-outline" style="position:relative;margin-bottom:0px;margin-top:25px;height:34px;width:34px;float:right;bottom:0;right:20px;z-index:40;"></ion-icon></a>
        </div>
    </form>
</ion-content>
</ion-modal>


